<div id="banner-area">
    <img src="~/images/banner/banner2.jpg" alt="" />
    <div class="parallax-overlay"></div>
    <div class="banner-title-content">
        <div class="text-center">
            <h2>Error Page</h2>
            <ul class="breadcrumb">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <partial name="_LoginPartial" />
            </ul>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/primateManStyle.css">
<section class="page_404">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="col-sm-10 col-sm-offset-1  text-center">
                    <div class="four_zero_four_bg">
                        <h1 class="text-center ">404</h1>


                    </div>

                    <div class="contant_box_404">
                        <h3 class="h2">
                            Look like you're lost
                        </h3>

                        <p>the page you are looking for not avaible!</p>

                        <a href="/Home" class="btn btn-primary" >Go to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>